@charset "utf-8";

/* -----------------------------------------------------

[Master StyleSheet]

Project:        Travel Zone- Personal and Corporate Portfolio Theme
Version:        1.02
Last Change:    Jan 30, 2018
Assigned to:    S. Ahsan, M. Moklas
Primary use:    Personal and Corporate Portfolio

-------------- Table of Content -------------------*/


/*---------------------------------------------------
[Table of contents]

1. Genarel (body, header, nav, section, article etc  )
2. Import Css
3. Header Css
4. Slider Css
5. Booking Css
6. Place Css
7. Video Css
8. Services Css
9. Counter Css
10. Hotel Css
11. Portfolio Css
12. Team Css
13. Testimonal Css
14. Location Css
15. Footer Css

---------------------------------------------------*/


/* =====================================
    01. Import CSS
===================================== */


/* GOOGLE FONTs */



/* OTHER IMPORTED CSS */

/*@import url('font-awesome.min.css');
@import url('ionicons.min.css');
@import url('bootstrap-dropdownhover.css');
@import url('bootsnav.css');
@import url('animate.min.css');
@import url('animations.css');
@import url('bootstrap-datepicker.min.css');
@import url('VideoPopUp.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.css');
@import url('defult.css');
@import url('fancyBox.css');
@import url('stroke-gap-icons.css');
@import url('pe-icon-7-stroke.css');
@import url('flaticon.css');
@import url('player.css');*/

/* =====================================
    02. General CSS
===================================== */

/* Preloader CSS */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999;
  width: 100%;
  height: auto;
}
#status {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/1.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}



/* =====================================
    05. Tour Place CSS Start
===================================== */

.hover-box .image {
    display: block;
    position: relative;
    overflow: hidden;
}

.hover-box .image img {
    width: 100%;
    height: auto;
}

.hover-box .image .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.hover-box:hover .image .over-layer {
    transform: translateX(0);
}

.hover-box .image .over-layer .links {
    padding: 30px 30px;
    margin: 0;
    list-style: none;
    text-align: center;
    position: relative;
}

.hover-box .image .over-layer .links h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-left: 18px;
    color: #FF6600;
}

.hover-box .image .over-layer .links h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.hover-box .image .over-layer .links p {
    color: #fff;
}

.rating ul.rating-btn li {
    display: inline-block;
}

.rating ul.rating-btn li a {
    font-size: 18px;
    color: #FF6600;
}

.rating a.view-btn {
    color: #FF6600;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
}

.rating a.view-btn:hover {
    color: #fff;
}

.tour-item {
    position: relative;
    padding: 0 25px;
    top: -25px;
}

.tour-item .tour-details {
    background: #fff none repeat scroll 0 0;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 2px 2px #dadada;
    transition: all 0.3s ease-in-out;
}

.tour-item .tour-details:hover {
    background: #FF6600;
}

.tour-item .tour-details p {
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}

.tour-item .tour-details p.price {
    font-size: 24px;
    font-weight: 600;
    margin-left: 18px;
    color: #FF6600;
    margin-right: 10px;
}

.tour-item .tour-details:hover p {
    color: #F1F1F1;
}

.tour-item .tour-details:hover p.price {
    color: #FFF;
}

.spacial-place .owl-carousel .owl-nav .owl-next,
.spacial-place .owl-carousel .owl-nav .owl-prev {
    top: 115px;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    background-color: #ddd;
    color: #333;
    font-size: 18px;
    line-height: 1.5em;
    cursor: pointer;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 0;
}

.spacial-place .owl-carousel .owl-nav .owl-next:hover,
.spacial-place .owl-carousel .owl-nav .owl-next:active,
.spacial-place .owl-carousel .owl-nav .owl-next:focus,
.spacial-place .owl-carousel .owl-nav .owl-prev:hover,
.spacial-place .owl-carousel .owl-nav .owl-prev:active,
.spacial-place .owl-carousel .owl-nav .owl-prev:focus {
    background: #FF6600 !important;
    color: #fff;
}

.spacial-place .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -25px;
}

.spacial-place .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -25px;
}

.hover-box.tour-hotel-box.d-flex {
    margin-bottom: 30px;
}


/* End Spacial Place */


/* =====================================
    05. Tour Video CSS Start
===================================== */

.tour-video {
    background: url(../images/bg/1.jpg);
    display: block;
}

.tour-video .container {
    padding: 150px 0;
}

.tour-video h2 {
    color: #fff;
    font-family: 'Sofia', cursive;
    font-size: 42px;
    font-weight: 900;
    text-transform: capitalize;
}

.tour-video h2 b {
    color: #FF6600;
}

.tour-video p {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.tour-video a {
    font-size: 90px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    margin: auto;
}

.video-bg .video .mbYTP_wrapper {
    z-index: -1 !important;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


/* Tour Video CSS End */








/*  28. Strat Custome CSS
/*--------------------------------*/

section .container,
.section .container {
    position: relative;
    padding: 100px 0 70px;
    display: block;
    clear: both;
}

section,
.section {
    display: block;
    overflow: hidden;
    position: relative;
}

.sec-title {
    color: #222;
    position: relative;
    margin: 0 0 40px;
    font-weight: 500;
    display: block;
}

.sec-title h2 {
    font-family: 'Sofia', cursive;
    font-size: 42px;
    text-transform: capitalize;
}

.sec-title p {
    letter-spacing: .5px;
}

.sec-title h2 b {
    color: #FF6600;
}

.clear {
    clear: both;
}

.no-padding {
    padding: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.p-tb-100 {
    padding: 100px 0;
}

.pt-0 {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0;
}

.cl-white {
    color: #fff !important;
}

.bg-f8 {
    background: #f8f8f8;
}

.bg-pry {
    background: #FF6600;
}

.bg-white {
    background: #fff;
}

.bdr-pry-color {
    border-color: #FF6600 !important;
}

.btn:hover {
    background: #FF6600;
}

.mar-tp-10 {
    margin-top: 10px !important;
}

.mar-tp-20 {
    margin-top: 20px !important;
}

.mar-tp-25 {
    margin-top: 25px !important;
}

.mar-tp-30 {
    margin-top: 30px !important;
}

.mar-btm-30 {
    margin-bottom: 30px !important;
}

.mar-btm-50 {
    margin-bottom: 50px !important;
}

.mar-btm-20 {
    margin-bottom: 20px !important;
}


/*.mar-btm-0 {
    margin-bottom: 0px !important;
}*/

.mar-btm-10 {
    margin-bottom: 10px !important;
}

.post {
    position: relative;
    display: block;
    overflow: hidden;
}

.width-80 {
    width: 80% !important;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*--------------------------------*/
